@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body{
    color: white;
    background-color: rgb(19,17,39);
    /* background-color: rgb(17,17,17); */
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
}

.flex{
    display: flex;
    width: 100%;
}

.grid{
    width: auto;
    display: grid;
}

@media (max-width:500px){
    header.flex{
        display: grid;
    }
    .flex{
        display: grid;
    }
    footer .flex{
        display: grid;
        text-align: center;
        
        
    }
    
    
}
ul{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
}
.container{
    display: block;
    height: fit-content;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    width: 100%;
    position: relative;
    padding: 0px;
    min-height: 30em;
}



.container h2{
    color: white;
}
h2,h3,h4{
    font-family:  'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: xx-large;

}

h1,h2,h3{
    font-size: 3em;
}

nav{
    display: flex;
    position: sticky;
    top: 0%;
    z-index: 3;
    background-color: white;
    justify-content: space-around;
    height: 1em;
    padding: 1em;
    transition: 0.3s;
}
nav .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;

}
.featured{
    min-height: 70vh;
    margin: 0 auto;
    position: relative;
    display: contents;

}

.featuredImage{
    position: relative;
    float: right;
    display: block;
}

.featuredImage .image{
    margin: 0;
    max-height: 36em;
    object-fit: cover;

}
.image{
    position: relative;

}
.image div{
    position: absolute;
}
.image > picture > img{
    position: relative !important;
}


.featuredText{
    margin: auto;
    padding: 20px;
    width: fit-content;
    background-color:  hsl(256, 26%, 20%);
    display: flow-root;
    max-width: 600px;
}

@media (max-width:500px){
    header.flex{
        display: grid;
    }
    .flex{
        display: grid;
    }
    footer .flex{
        display: grid;
        text-align: center;
    }   
        
}
    
.buttons button{
    color:hsl(273, 4%, 51%);
    background: none;
    outline: none;
    border-style: none;
    cursor: pointer;

}
.featuredText h2{
    font-size: 475%;
    margin: auto;
}
.featuredText p {
    width: fit-content;
    padding: 0px;
}
.menu{
    display: none;
    height: fit-content;
    background: none;
    outline: none;
    border-style: none;
}

.menu div{
    width: 25px;
    height: 3px;
    background-color: rgb(31, 30, 30);
    margin: 4px 0;
    
}

@media(max-width:750px){
    nav .buttons{
        display: none;
    }
    .menu{
        display: block;
    }
    nav{
        justify-content: space-between;
    }
    .featuredImage{
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        padding: 0px;
    }
    .featuredImage .image{
        width: 100%;
        max-height: 50vh;
        margin: 0;
    }
    .featuredText, .popularPosts h3{
        position: static;
        text-align: center;
    }
    .featuredText h2{
        font-size: 3em;
    }
    nav button{
        display: none;
    }
    .featuredText p {
        padding: 20px;
    }
    .dividerShow{
        display: block;
        margin: auto;
    }
}

@media(max-width:1250px){
    .featuredImage .image{
        float: none;
        margin: auto;
    }
    .featuredImage{
        float: none;
        margin: auto;
        width: fit-content;
    }

    
}


footer{
    margin-top: 30px;
    padding: 20px;
    
}
footer .flex{
    justify-content: space-evenly;
}

a{
    color:hsl(273, 4%, 51%);
    cursor: pointer;
    text-decoration: none;
}

.purple{
    background: none;
    color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    outline: none;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    padding: 7px 20px;
    height: fit-content;
    display: inline-block;
}

.purple:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
    transition: 0.5s;
}
 
nav h1{
    color: black;
}
nav button{
    display: none;
}
nav h2{
    display: inline;
    color: rgb(17,17,17);
    margin: 0px;
}



.buttons button{
    color:hsl(273, 4%, 51%);
    background: none;
    outline: none;
    border-style: none;
    cursor: pointer;

}

img{
    max-width: 100%;
}

.blogPost{
    box-sizing: border-box;
    max-width: 48%; 
    background-color: hsl(256, 26%, 20%);
    /* background: #242426; */
    color: #aaa;
    /* padding: 20px; */
    margin-bottom: 20px;
    list-style: none;
    margin: 1%;
    border-radius: 2px;
    overflow: hidden;
}
.blogPost:hover{
    transform: scale(1.005);
    box-shadow: 0px 0px 3px hsla(0, 3%, 12%, 0.411);
}
.blogPost img{
    height: 400px !important;
}
.blogPost h2{
    color: white;
    margin: 0;
    margin-bottom: 15px;
    font-size: xx-large;
}

@media (max-width:800px){
    .blogPost {
        max-width: 100%;
    }
}


#popular{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding-left:0px;
    overflow: hidden;
    padding: 0;
    gap: 0;
    max-width: 100%;
    
}

#popular li{
    height: 20vh;
    min-width: 25vw;
    position: relative;
}
#popular li img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    flex-grow: 2;
    z-index: 1;
}


@media (max-height: 480px) {
#popular li {
    height: 40vh;
    width: 100%;
}

}
@media (max-aspect-ratio: 1/1) {
#imageCollection li, #presetCollection li {
    height: 30vh;
}
.placeholderLine{
    display:none !important;
}
}
  
.blogPost img{
      width: 100%;
      object-fit: cover;
}

.information{
    padding:20px;
    padding-top: 0px;

}
.colorPurple{
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
}

.popularPosts h3{
    margin: auto; 
    max-width: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
}

@media (max-width: 750px){
    .popularPosts h3{
        text-align: center;
        display: block;
    }
}

.allPosts{
    max-width: 1000px;
}

.sideMenu{
    height: 100%;
    float: left;
    overflow: auto;
    width: 200px;
    top: 0%;
    left:0%;
    background-color: hsl(256, 26%, 20%);
    position: sticky;

}
.catergorySearch li{
    width: 100%;
    margin: 10px;
}

#overlay{
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0%;
    right: 0%;
    background-color: hsl(256, 26%, 20%);
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
}
#overlay a{
    margin: 0 auto;
    font-size: 2em;
}
#overlay a:hover{
    color: #f1f1f1;
}

#closeMenu{
    position: absolute;
    top:0%;
    right: 0%;
    cursor: pointer;
    padding: 20px;
    font-size: 3em;
    line-height: 0%;
}
#closeMenu:hover{
    background-color: rgb(31, 30, 30);
}
.blogPiece{
    background-color: hsl(256, 26%, 20%);
    max-width: 800px;
    margin: auto;    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5vw;
}
.blogPiece h1{
    margin-bottom: 0;
    font-size: 2em;
}
.blogContent{
    background-color: rgb(19,17,39);
    padding: 20px;
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.popularPosts li .image:hover {
    opacity: 0.3;
}


.text {
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pager{
    margin: auto;
    display: flex;
    justify-content: center;
}
